# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# dotenv environment variables
.env

# Flask instance folder
instance/

# VS Code config
.vscode/

# macOS and system files
.DS_Store

# Logs and local data
*.log
*.sqlite3

# Python egg metadata
*.egg-info/

# Pytest cache
.pytest_cache/